# sshguard.service -- sample systemd unit file

[Unit]
Description=Intelligently block brute-force attacks by aggregating system logs
After=syslog.target
After=iptables.target
After=ip6tables.target
After=libvirtd.service
After=firewalld.service

[Service]
EnvironmentFile=/etc/sysconfig/sshguard
ExecStartPre=-/usr/sbin/iptables -N sshguard
ExecStartPre=-/usr/sbin/ip6tables -N sshguard
ExecStart=/usr/libexec/sshguard/sshguard-journalctl
Restart=always

[Install]
WantedBy=multi-user.target
